/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/**************** INDEX****************/
/* 
1 - TEXT
2 - BUTTONS AND ICONS 
3 - NAVBAR
4 - IMAGES 
5 - BUTTONS AND ICONS 
6 - MEDIA QUERY
 */

/* 1 -  **********************************TEXT******************************** */
 * {
   font-family: arial;
 }

 p {
  line-height: 2rem;
}

.whyRaven {
  font-family: sans-serif;
  font-weight: 'Extra-Bold' !important;
}

.footerSection {
  font-family: sans-serif !important;
}


.try, .open {
    font-weight: 900;
}

/* 1 - ***********************************TEXT END******************************************/

/* 2 - **********************************BUTTONS AND ICONS******************************** */

.btn-floating.btn-large {
  width: 90px;
  height: 90px;
}

.twitterI {
  margin-top: 10px;
}

.socialI {
  border-color: black;
  color: black;
  background-color: black;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  background-color: white;
  border-radius: 7px;
}


textarea:active {
  color: none;
}

.t_a_output {
  margin-bottom: 3%;
  border-radius: 7px;
}

.Playground-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 0.625rem;
}

.Playground-input, .Playground-output {
  padding: 0;
  margin: 0;
  font-family: Menlo, monospace;
  font-size: 0.875rem;
}

.selector_container {
  padding-left: 0px;
  border-radius: 6px;
}


.btn_playground_opt {
  margin-left: 1%;
  border-radius: 6px;
  margin: 7px;
}

.btn_select_container {
  border-radius: 6px;
}

.btn_download {
  border-radius: 6px;
  height: 42px;
  width: 66%;
}
.icon-block {
 padding: 0 15px;
}
.icon-block .material-icons {
 font-size: inherit;
}

.btn-floating {
  border-style: solid;
  border-color: grey;
}
/* 2 - **********************************BUTTONS AND ICONS END*********************************/

/* 3 - **********************************NAVBAR******************************** */
 nav ul a,
 nav .brand-logo {
   color: #444;
 }
 .sidenav-trigger {
  color: #26a69a;
}
 /***********************************NAVBAR END******************************** */
 
 /* 4 - **********************************IMAGES*********************************/
 .blackBirdMobile {
  max-width: 53%;
}

.parallax-container {
  height: 682px;
  display: block;
}


 /* 4 - **********************************IMAGES END*********************************/
 
/* 5 - **********************************FOOTER************************************* */
footer.page-footer {
  margin: 0;
}
/* 5 - **********************************FOOTER END*********************************/
 





 /************************* MEDIA QUERYES************************************* */

 /* MIDDLE SIZE */
 /* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1185px) {
  /* body {
    background-color: blue;
  } */

  .selector_container {
    width: 100%;
    color: bisque;
  }

  .boxesID {
    /* background-color: green; */
    width: 118%;
    margin-left: -3%;
  }

  .btn_download {
    width: 87%;
  }

  .playText {
    width: 100%;
  }

  .mobileSelector {
    display: none;
  }

  .parallax-container {
    height: 1007px;
  }
}
@media screen and (max-width: 1143px) {
  .btn_download {
    width: 89%;
  }
}

@media screen and (max-width: 1528px) {
  .btn_download {
    width: 103%;
    height: 44px;
    background-color: pink;
  }


  .blackBirdMobile {
    max-width: 53%;
  }
}

/* MEDIA QUERY MOBILE */
@media screen and (max-width: 589px) {

  .mobileSelector {
    width: 100%;
  }

  .blackBirdMobile {
    max-width: 53%;
  }
}
/*************************MEDIA QUERYES END************************************* */

