/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 * {
   font-family: arial;
 }

 nav ul a,
 nav .brand-logo {
   color: #444;
 }
 
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: #26a69a;
 }
 
 .btn-floating.btn-large {
   width: 90px;
   height: 90px;
 }
 
 .twitterI {
   margin-top: 10px;
 }
 
 .socialI {
   border-color: black;
   color: black;
   background-color: black;
 }
 
 
 .whyRaven {
   font-family: sans-serif;
   font-weight: 'Extra-Bold' !important;
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }

 textarea {
    width: 100%;
    height: 100%;
    resize: none;
    background-color: white;
    border-radius: 7px;
}

.btn_playground_opt {
    margin-left: 1%;
    border-radius: 6px;
    margin: 7px;
}

.blackBirdMobile {
  max-width: 52%;
}

textarea:active {
    color: none;
}

.t_a_output {
    margin-bottom: 3%;
    border-radius: 7px;
}

.Playground-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    padding: 0.625rem;
}

.Playground-input, .Playground-output {
    padding: 0;
    margin: 0;
    font-family: Menlo, monospace;
    font-size: 0.875rem;
}

.selector_container {
    padding-left: 0px;
    border-radius: 6px;
}

.footerSection {
  font-family: sans-serif !important;
}

.btn_select_container {
    border-radius: 6px;
}

.try, .open {
    font-weight: 900;
}

.btn_download {
    border-radius: 6px;
    height: 42px;
    width: 66%;
}
 
 /* .MainLogo {
   max-width: 50%;
   height:auto;
   margin-left: 13%;
 } */
   .parallax-container .section {
     width: 100%;
   }
 
 /* @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 } */
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }

 .btn-floating {
   border-style: solid;
   border-color: grey;
 }

 .section.no-pad-bot {
   padding: 0px;
 }

 /* Media Queryes */
 /* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1185px) {
  /* body {
    background-color: blue;
  } */

  .selector_container {
    width: 100%;
    color: bisque;
  }

  .sliderCornField {
    width: 85%;
  }

  .boxesID {
    /* background-color: green; */
    width: 118%;
    margin-left: -3%;
  }

  .btn_download {
    width: 87%;
  }

  .playText {
    width: 100%;
  }

  .parallaxBigScreen {
    display: none;
  }

  .mobileSelector {
    display: none;
  }
}

@media screen and (max-width: 1143px) {
  .btn_download {
    width: 89%;
  }
}

@media screen and (max-width: 1528px) {
  .btn_download {
    width: 87%;
  }
}



/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 589px) {

  .mobileSelector {
    width: 100%;
  }
}

